* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-header {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 50px;
}

.form-wrapper form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}



.form-set {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.radio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: inline-block;
}

.right-container input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    padding-left: 5px;
}

.radio-container input[type=radio] {
    display: none;
}


.radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.2s all ease-in-out;
    width: 80px;
}

.radio-container input[type=radio]:checked + label {
    background: #18bd4b;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
